<!-- expense_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h1>Expense List</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Value</th>
            <th>Mood</th>
            <th>Expense Date</th>
            <th>User</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.title }}</td>
            <td>{{ expense.value }}</td>
            <td>{{ expense.mood }}</td>
            <td>{{ expense.expense_date }}</td>
            <td>{{ expense.user }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
