{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood List</title>
    <link rel="stylesheet" href="{% static 'moodtracking/style.css'%}">
</head>
<body> 

    <ul>
        {% for item in mood_list %}
            <li><a href = "{% url  'mood_url' item %}">
                {% if item is not None%}
                    {{item}}
                {%else%}
                    No mood set
                {%endif%}
            </a></li>
        {%endfor%}
        </ul> 
</body>
</html>